body{
/*	background-image: url("http://etc.usf.edu/clipart/48600/48644/48644_graph_0505a_lg.gif");
	background-size: 800px 800px;
	background-repeat: no-repeat;*/
	margin: 7px;
}

.area{
	background-color: black;
}
.00{
	position: fixed;
	top: 0px;
	left: 0px;
}

.0100{
	position: fixed;
	top: 100px;
	left: 0px;
}
.0200{
	position: fixed;
	top: 200px;
	left: 0px;
}
.0300{
	position: fixed;
	top: 300px;
	left: 0px;
}
.0400{
	position: fixed;
	top: 400px;
	left: 0px;
}
.0500{
	position: fixed;
	top: 500px;
	left: 0px;
}
.0600{
	position: fixed;
	top: 600px;
	left: 0px;
}
.0700{
	position: fixed;
	top: 700px;
	left: 0px;
}
.0800{
	position: fixed;
	top: 800px;
	left: 0px;
}
.02{
	position: fixed;
	top: 0px;
	left: 0px;
}
.02{
	position: fixed;
	top: 0px;
	left: 0px;
}
.02{
	position: fixed;
	top: 0px;
	left: 0px;
}
.02{
	position: fixed;
	top: 0px;
	left: 0px;
}
.02{
	position: fixed;
	top: 0px;
	left: 0px;
}
.02{
	position: fixed;
	top: 0px;
	left: 0px;
}
.02{
	position: fixed;
	top: 0px;
	left: 0px;
}
.02{
	position: fixed;
	top: 0px;
	left: 0px;
}
.03{
	position: fixed;
	top: 0px;
	left: 0px;
}
.03{
	position: fixed;
	top: 0px;
	left: 0px;
}
.03{
	position: fixed;
	top: 0px;
	left: 0px;
}
.03{
	position: fixed;
	top: 0px;
	left: 0px;
}
.03{
	position: fixed;
	top: 0px;
	left: 0px;
}
.03{
	position: fixed;
	top: 0px;
	left: 0px;
}
.03{
	position: fixed;
	top: 0px;
	left: 0px;
}
.03{
	position: fixed;
	top: 0px;
	left: 0px;
}
.04{
	position: fixed;
	top: 0px;
	left: 0px;
}
.04{
	position: fixed;
	top: 0px;
	left: 0px;
}
.04{
	position: fixed;
	top: 0px;
	left: 0px;
}
.04{
	position: fixed;
	top: 0px;
	left: 0px;
}
.04{
	position: fixed;
	top: 0px;
	left: 0px;
}
.04{
	position: fixed;
	top: 0px;
	left: 0px;
}
.04{
	position: fixed;
	top: 0px;
	left: 0px;
}
.04{
	position: fixed;
	top: 0px;
	left: 0px;
}
.05{
	position: fixed;
	top: 0px;
	left: 0px;
}
.05{
	position: fixed;
	top: 0px;
	left: 0px;
}
.05{
	position: fixed;
	top: 0px;
	left: 0px;
}
.05{
	position: fixed;
	top: 0px;
	left: 0px;
}
.05{
	position: fixed;
	top: 0px;
	left: 0px;
}
.05{
	position: fixed;
	top: 0px;
	left: 0px;
}
.05{
	position: fixed;
	top: 0px;
	left: 0px;
}
.05{
	position: fixed;
	top: 0px;
	left: 0px;
}
.06{
	position: fixed;
	top: 0px;
	left: 0px;
}
.06{
	position: fixed;
	top: 0px;
	left: 0px;
}
.06{
	position: fixed;
	top: 0px;
	left: 0px;
}
.06{
	position: fixed;
	top: 0px;
	left: 0px;
}
.06{
	position: fixed;
	top: 0px;
	left: 0px;
}
.06{
	position: fixed;
	top: 0px;
	left: 0px;
}
.06{
	position: fixed;
	top: 0px;
	left: 0px;
}
.06{
	position: fixed;
	top: 0px;
	left: 0px;
}
.07{
	position: fixed;
	top: 0px;
	left: 0px;
}
.07{
	position: fixed;
	top: 0px;
	left: 0px;
}
.07{
	position: fixed;
	top: 0px;
	left: 0px;
}
.07{
	position: fixed;
	top: 0px;
	left: 0px;
}
.07{
	position: fixed;
	top: 0px;
	left: 0px;
}
.07{
	position: fixed;
	top: 0px;
	left: 0px;
}
.07{
	position: fixed;
	top: 0px;
	left: 0px;
}
.08{
	position: fixed;
	top: 0px;
	left: 0px;
}
.08{
	position: fixed;
	top: 0px;
	left: 0px;
}
.08{
	position: fixed;
	top: 0px;
	left: 0px;
}
.08{
	position: fixed;
	top: 0px;
	left: 0px;
}
.08{
	position: fixed;
	top: 0px;
	left: 0px;
}
.08{
	position: fixed;
	top: 0px;
	left: 0px;
}
.08{
	position: fixed;
	top: 0px;
	left: 0px;
}
.08{
	position: fixed;
	top: 0px;
	left: 0px;
}
